/*===========
Import fonts
=============*/

/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/

  /*font and text*/
  --header-text-font: "Trebuchet MS", cursive;
  --text-font:  Verdana, sans-serif;
  --code-font:  monospace;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 12px; /*mobile first design - change to 16px for views >1024px*/
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*====================
Text and Font Styling
=====================*/

/*reset default font - never shall Time New Roman be seen again!*/

h1,
h3,
h5,
p,
li,
dt,
dd {
  font-family: Helvetica, Arial, sans-serif;
}


/*code word or snippet in the middle of normal text*/
.code-word {

}

/*example code snippet to stand out */
.code-box {
  display: inline-block;
  border: solid 3px red;
}

/*indentation in code box*/

/*highlight text visually but not affecting screenreaders*/
.look-at-me-text {
  font-style: italic;
}

.really-look-at-me-text {
  font-weight: bold;
  border-bottom: solid 1px;
}

.sub-heading-text {

}
/*================
Layout
=================*/
body {
  border: solid 3px red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
  grid-gap: 0;
}

/*================
Header and Title
=================*/

#top-header {
  grid-area: header;
  /* to test layout placement */
  border: solid 3px green;
}

#top-header h1 {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  /* to test layout placement */
  border: solid 3px blue; */
}

/*================
Nav Menu Bar
=================*/

nav {
  grid-area: nav;
  /* to test layout placement */
  border: solid 3px orange;
}

#nav-bar {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
  /* to test layout placement
  border: solid 3px cyan; */
}

.nav-bar-button {
  /* to test layout placement
  border: solid 3px magenta; */
}

.nav-bar-button-child {
  /* to test layout placement
  border: solid 3px yellow; */
}

/*==============
Section Styling
================*/

/*container boxes*/
main {
  grid-area: content;
  /* to test layout placement */
  border: solid 3px black;
}

#intro-text {
  /* to test layout placement */
  border: solid 3px purple;
}

#intro-text p:first-of-type {
  text-align: center;
}

.section-container {
  /* to test layout placement */
  border: solid 3px gray;
}

.section-header {
  /* to test layout placement */
  border: solid 3px pink;
}

.section-content {
  /* to test layout placement */
  border: solid 3px orange;
}

.section-subsection-container {
  /* to test layout placement*/
  border: solid 3px green;
}

.section-subsection-header {
  /* to test layout placement*/
  border: solid 3px black;
}

.section-subsection-content {
  /* to test layout placement */
  border: solid 3px blue;
}

.section-subsection-content-list {

}

.section-subsection-content-info {

}

.property-value-list {

}

/*==============================
Code example boxes - properties
================================*/
/*code example - figure container box*/
.grid-figure {
  margin: 0;
  padding: 0;
}

/*grid container*/
.grid-figure-box {
  width: 200px;
  height: 200px;
  border: solid black 3px;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat (3 1fr);
  grid-template-rows: repeat (3 1fr);
  grid-gap: 3px;
}

/*grid item in container*/
.grid-figure-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  border: solid 1px white;
  background-color: black;
  color: white;
  font-family: var(--code-font);
}

/*grid justify-items example boxes*/

.grid-justify-start {
  justify-items: start;
}

.grid-justify-end {
  justify-items: end;
}

.grid-justify-center {
  justify-items: center;
}

.grid-justify-stretch {
  justify-items: stretch;
}

/*=====
Footer
======*/
footer {
  grid-area: footer;
  position: relative;
  /* to test layout placement */
  border: solid 3px violet;
}

#all-about-me {
  padding: 0.4rem;
  text-align: center;
  line-height: 150%;
}

#all-about-me p:first-of-type {
  margin-bottom: 1rem;
}

/*==========
Link styles
===========*/

/*================
The little touches
=================*/

/*Back to top - only for small mobile screen views*/
.backtotop {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.4rem;
}

/*=============
Responsiveness
===============*/

/*Media queries for larger monitor views*/

@media only screen and (min-width: 1024px) {

  body {
    grid-template-columns: 20% 1fr;
    grid-template-areas:
      "header header"
      "nav content"
      "nav content"
      "footer footer";
    font-size: 16px;
  }

  /*nav stays on side view*/
  #nav-bar {
    position: sticky;
    top: 0;
  }

  /*not needed on this view as have side-menu always available*/
  .backtotop {
    display: none;
  }

}
/*Media queries for print view*/

@media print {

}
/*=============
Accessibility
===============*/

/*Remove animations or visual affects based on userbrowser perference*/

@media (prefers-reduced-motion) {
}
